.layout-wrap {
  min-height: 100vh;
}
.logo {
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding-left: 30px;
  color: #fff;
}
.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  .user-tool {
    display: flex;
    margin-right: 20px;
    .logoff {
      color: #fff;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
.content {
  padding: 24px;
  background-color: #fff;
  margin-top: 64px;
}
.collapsed {
  margin-left: 20px;
  background-color: #fff;
}

:global(.ant-layout-sider) {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #b5b1b1;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 0;
    background: #191f28;
  }
}


